<div class="videogame-card w-full hover:cursor-pointer text-white bg-[#1A1A1D] flex flex-col h-full">
  <a class="block relative h-48 overflow-hidden">
    <img alt="ecommerce" class="object-cover object-center w-full h-full block rounded-t-sm" [src]="videogame.image">
  </a>
  <div class="info-container pt-4 flex-grow min-h-[100px]">
    <span class="bg-gray-100 text-gray-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-sm dark:bg-gray-700 dark:text-gray-300">{{ videogame.genre[0] }}</span>
    <h2 class="title-font text-lg font-medium my-1 break-words">{{ videogame.title }}</h2>
    <p class="text-sm">{{ videogame.description.substring(0, 50) }}{{ videogame.description.length > 50 ? "..." : "" }}</p>
  </div>
  <div class="flex justify-between items-center mt-5">
    <div class="inline-block">
      <span class="title-font text-lg font-medium bg-[#00a3cc] py-2 px-4 text-center inline-block w-auto rounded-sm">{{ videogame.price }} €</span>
    </div>
    <button class="title-font text-lg font-medium py-2 px-4 text-center inline-block w-auto hover:cursor-pointer hover:text-[#00a3cc]" [routerLink]="['/catalog/details', videogame._id]">See more <span>&#8594;</span></button>
  </div>
</div>
