<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto flex flex-wrap">
      <div class="w-full mx-auto">
        <div class="flex flex-wrap w-full bg-gray-100 py-32 px-10 relative mt-[50px] mb-4 rounded-xl">
          <img alt="gallery" class="w-full object-cover h-full object-center block absolute inset-0 rounded-xl" src="https://e0.pxfuel.com/wallpapers/643/137/desktop-wallpaper-viking-viking-art.jpg">
          <div class="text-center relative z-10 w-full sm:py-[150px]">
            <h1 class="text-5xl text-white font-bold title-font mb-2">GameVault: Desbloquea tu Próxima Aventura</h1>
            <p class="leading-relaxed text-white text-2xl">Un catálogo épico, infinitas posibilidades.</p>
            <button class="inline-flex text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg">Seguir</button>
            <button class="inline-flex text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg">Catálogo</button>
          </div>
        </div>
        
      </div>
    </div>
  </section>